.site-header{
    background-color: #1bbc9c;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-text{
    margin: 10px;
}



.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: black 2px 5px 5px;
}

.course-link{
    color: #a7ecdc;
}

body{
    margin: 0%;
}